terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/terraform.tfvars
terraform/*.auto.tfvars
terraform/crash.log

terraform/lb/.terraform/
terraform/lb/.terraform.lock.hcl
terraform/lb/terraform.tfstate
terraform/lb/terraform.tfstate.*
terraform/lb/terraform.tfvars
terraform/lb/*.auto.tfvars
